name: Build

on:
    pull_request:
    push:
        branches: [main]
        tags: ["*"]


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python: [39, 310, 311, 312, 313, 313t, 314, 314t]

        steps:
            - uses: actions/checkout@v6

            - uses: astral-sh/setup-uv@v7
              with:
                python-version: ${{ matrix.python }}

            - name: Test
              run: uv run --no-dev python -m unittest discover tests

            - name: Test with oldest-supported-numpy
              run: uv run --no-dev --with oldest-supported-numpy python -m unittest discover tests

            - name: Lint
              run: |
                  uv run ruff check
                  uv run ruff format --check

            - name: Static type check
              run: uv run pyright

    build_wheels:
        name: Build wheel for ${{ matrix.os }}-${{ matrix.build }}${{ matrix.python }}-${{ matrix.arch }}
        runs-on: ${{ matrix.os }}
        strategy:
            # Ensure that a wheel builder finishes even if another fails
            fail-fast: false
            matrix:
                os: [windows-latest, windows-11-arm, ubuntu-latest, macos-latest]
                python: [39, 310, 311, 312, 313, 314]
                arch: [auto64, universal2]
                build: ["cp"]
                exclude:
                    - os: ubuntu-latest
                      arch: universal2
                    - os: windows-latest
                      arch: universal2
                    - os: windows-11-arm
                      arch: universal2
                    - os: windows-11-arm
                      python: 39
                    - os: windows-11-arm
                      python: 310
        steps:
            - uses: actions/checkout@v6
            - uses: astral-sh/setup-uv@v7
            - uses: pypa/cibuildwheel@v3.3
              env:
                CIBW_ENABLE: cpython-freethreading
                CIBW_BUILD_FRONTEND: "build[uv]"
                CIBW_BUILD: "${{ matrix.build }}${{ matrix.python }}*"
                CIBW_ARCHS: ${{ matrix.arch }}
                CIBW_TEST_COMMAND: python -m unittest discover -t {project} -s {project}/tests

            - uses: actions/upload-artifact@v5
              with:
                  name: "artifact-${{ matrix.os }}-${{ matrix.build }}-${{ matrix.python }}-${{ matrix.arch }}"
                  path: ./wheelhouse/*.whl

    build_sdist:
        name: Build source distribution
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: astral-sh/setup-uv@v7
            - run: uv build --sdist
            - uses: actions/upload-artifact@v5
              with:
                  name: artifact-source
                  path: dist/*.tar.gz

    pass:
      needs: [test, build_wheels, build_sdist]
      runs-on: ubuntu-latest
      steps:
        - run: echo "All jobs passed"

    merge:
      name: Merge sdist and wheel artifacts
      needs: [pass]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/upload-artifact/merge@v5
          with:
            name: mt2

    upload_pypi:
        needs: [pass]
        runs-on: ubuntu-latest
        environment: moopypi
        permissions:
            # Required for trusted publishing; see https://docs.pypi.org/trusted-publishers/using-a-publisher/
            id-token: write
        # upload to PyPI on every tag starting with 'v'
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
        steps:
            - uses: actions/download-artifact@v6
              with:
                  path: dist
                  merge-multiple: true

            - uses: astral-sh/setup-uv@v7

            - name: Publish
              run: uv publish --trusted-publishing always -v
